{#
SPDX-FileCopyrightText: 2024 Gergely Horváth

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if labelstudio_container_labels_traefik_enabled %}
traefik.enable=true

{% if labelstudio_container_labels_traefik_docker_network %}
traefik.docker.network={{ labelstudio_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if labelstudio_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [labelstudio_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if labelstudio_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ labelstudio_identifier }}-slashless-redirect.redirectregex.regex=^({{ labelstudio_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ labelstudio_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [labelstudio_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	Intentionally not adding a stripPrefix middleware.
	Label Studio seems to serve itself under the same prefix it sees in the ND_BASEURL environment variable.
#}

{% if labelstudio_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in labelstudio_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ labelstudio_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [labelstudio_identifier + '-add-request-headers'] %}
{% endif %}

{% if labelstudio_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in labelstudio_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ labelstudio_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [labelstudio_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ labelstudio_identifier }}.rule={{ labelstudio_container_labels_traefik_rule }}
{% if labelstudio_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ labelstudio_identifier }}.priority={{ labelstudio_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ labelstudio_identifier }}.service={{ labelstudio_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ labelstudio_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ labelstudio_identifier }}.entrypoints={{ labelstudio_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ labelstudio_identifier }}.tls={{ labelstudio_container_labels_traefik_tls | to_json }}
{% if labelstudio_container_labels_traefik_tls %}
traefik.http.routers.{{ labelstudio_identifier }}.tls.certResolver={{ labelstudio_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ labelstudio_identifier }}.loadbalancer.server.port=8080
{% endif %}

{{ labelstudio_container_labels_additional_labels }}
